<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Up</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/common/signup.css">
</head>
<body>
<section id="signup">
    <div class="container signup__container">
        <div class="back">
            <a href="javascript:history.back();"><i class="uil uil-angle-left-b"></i></a>
        </div>
        <a th:href="@{/login}"><h2>MIND UP</h2></a>


        <h2>비밀번호 수정하기</h2>


            <form th:method="put" th:action="@{/sign_up/changePw}" th:object="${changePwReq}" id="form-pro">
                <div class="form-group">
                    <label for="pw">새로운 비밀번호</label>
                    <input id="pw" type="text" class="btn btn-input" placeholder="새로운 비밀번호를 입력하세요">
                </div>
                <div class="form-group">
                    <label for="pwCheck">새로운 비밀번호 확인</label>
                    <input id="pwCheck" type="password" th:field="*{new_pw}" class="btn btn-input" placeholder="비밀번호 재입력">
                </div>

                <button class="btn" id="signUpBtn">비밀번호 수정</button>
            </form>

    </div>
</section>
</body>
</html>