<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Care</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/common/nav.css">
</head>
<body>

<!-- =========== NAVBAR ========== -->

<nav>
    <div class="container nav__container">
        <button class="menu-btn" id="menu-btn" onclick="document.getElementById('menu').classList.add('active')"><i class="uil uil-bars"></i></button>
        <a th:href="@{/profile}"><h3>Mental Care</h3></a>
        <a th:href="@{/login}"><button class="login-btn" ><i class="uil uil-sign-in-alt"></i></button></a>
<!--        <a th:if="${userRole == 'ROLE_ANONYMOUS'}" th:href="@{/login}"><button class="login-btn" ><i class="uil uil-sign-in-alt"></i></button></a>-->
    </div>
</nav>
<!-- =========== MENU ========== -->
<menu id="menu">
    <div class="container menu__container">
        <div class="menu-head">
            <i class="uil uil-multiply" id="close" onclick="document.getElementById('menu').classList.remove('active')"></i>
            <h3>Mental Care</h3>
        </div>
        <div th:if="${userRole == 'PLAYER'}" class="menu-content">
            <a th:href="@{/profile}"><h1>프로필</h1></a>
            <a th:href="@{/test}"><h1>검사하기</h1></a>
            <a th:href="@{/test/list}"><h1>검사내역</h1></a>
            <a><h1>공지사항</h1></a>
            <a id="admin" class="admin-btn" onclick="document.getElementById('consultantMenu').classList.toggle('active'); document.getElementById('admin').classList.toggle('active');">
                <h1>컨설턴트 <i id="admin-ic" class="uil uil-angle-down"></i></h1>
            </a>
            <div class="menu-admin" id="consultantMenu">
                <a th:href="@{/consultant/privateList}"><h2>개별 컨설턴트</h2></a>
                <a href="#"><h2>내 컨설턴트</h2></a>
            </div>

        </div>
        <div th:if="${userRole == 'DIRECTOR'}" class="menu-content">
            <a th:href="@{/profile}"><h1>프로필</h1></a>
            <a><h1>공지사항</h1></a>
            <a id="admin" class="admin-btn" onclick="document.getElementById('adminList').classList.toggle('active'); document.getElementById('admin').classList.toggle('active');">
                <h1>관리자 <i id="admin-ic" class="uil uil-angle-down"></i></h1>
            </a>
            <div class="menu-admin" id="adminList">
                <a th:href="@{/manage/player/list}"><h2>팀 관리</h2></a>
                <a href="#"><h2>컨설팅 목록</h2></a>
                <a th:href="@{/manage/test}"><h2>검사 목록</h2></a>
            </div>
        </div>

    </div>
</menu>

</body>
</html>