<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Care</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
</head>

<body>

<!-- =========== NAVBAR ========== -->
<nav id="nav">
</nav>

<!-- =========== TEAM_CODE ========== -->
<section id="admin">
    <div class="container admin__container">

        <div class="label">
            <a href="/admin/team">
                <h3 class="active" style="margin-right: 1rem;">팀 코드 관리</h3>
            </a>
            <a href="/admin/user">
                <h3>사용자 관리</h3>
            </a>
        </div>


        <div class="button__container">
            <h2>팀 코드 관리</h2>
            <a href="/admin/team/form"><button class="btn">추가하기</button></a>
        </div>

        <div class="list">
                <div class="code-list" th:each="team : ${teamInfoResList}">
                    <form th:action="@{|/admin/team/${team.id}|}" th:method="DELETE">
                        <div class="code-info">
                            <div class="code">
                                <h3 th:text="${team.teamCode}">S</h3>
                            </div>
                            <h3 class="team-name" th:text="${team.name}">서울 FC</h3>
                        </div>
                        <button type="submit" class="btn-light" >삭제</button>
                    </form>
                </div>


        </div>


    </div>
</section>

<script src="/javascript/common/base.js"></script>
</body>

</html>