<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Up</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/player/profile.css">
</head>
<body>

    <!-- =========== NAVBAR ========== -->
    <nav id="nav">
    </nav>

    <!-- =========== PROFILE ========== -->
    <section id="profile">

        <div class="container profile-header">
            <div class="header-info">
                <!-- 디데이-->
                <p>
                    다음 경기까지
                    <span th:if="${profile.nextMatchDDay.equals('')}" th:text="'일정을 설정해주세요'"></span>
                    <span th:unless="${profile.nextMatchDDay.equals('')}" th:text="'D ' + ${profile.nextMatchDDay}"></span>
                </p>
                <!-- 이름과 역할 같이-->
                <h3 th:text="${profile.name + ' 선수님 반갑습니다'}"></h3>
            </div>
            <div class="header-img">
                <!-- 선수 프로필-->
                <img th:src="${profile.imgUrl}">
            </div>
        </div>

        <div class="line"></div>

        <div class="container profile-body">
            <div class="body-info">
                <h4>소속팀</h4>
                <!-- 소속팀-->
                <h3 th:text="${profile.teamName}">안양 FC</h3>
            </div>
            <div class="line thin"></div>
            <div class="body-info">
                <h4>포지션</h4>
                <!-- 포지션-->
                <h3 th:text="${profile.position}">FW</h3>
            </div>
            <div class="line thin"></div>
        </div>

        <div class="container profile-btn">
            <!-- 프로필 설정으로-->
            <a th:href="@{/player/profile/setting}"><button class="btn btn-light">프로필 설정</button></a>
            <!-- 검사하기 페이지로-->
            <a th:href="@{/player/test}"> <button class="btn">검사하기</button></a>
        </div>
    </section>

<!-- =========== JAVASCRIPT ========== -->
<script src="/javascript/common/base.js"></script>
</body>
</html>