<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Care</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/player/test_all.css">
</head>
<body>
<!-- =========== TESTING ========== -->
<section id="testing">
    <div class="container testing__container">

        <div class="header">
            <div class="icon">
                <img src="/images/macos-calendar%20(1).png">
            </div>
            <h3 th:text="${diagnoseInfo.diagnoseTitle} + ' 검사'"> 검사</h3>
        </div>

        <form th:method="post" th:action= "@{/test/type/submit}" th:object="${writeAnswerReq}">
            <input type="hidden" th:field="*{userLoginId}" />

            <input type="hidden" th:name="writeAnswerDiagnoseReqList[0].diagnoseId" th:value="${diagnose.diagnoseId}"/>
                <div class="form-group" th:each="getQuestionRes, detailStat : ${diagnose.questionResList}">
                    <input type="hidden" th:field="*{writeAnswerDiagnoseReqList[0].writeAnswerDetailReqList[__${detailStat.index}__].questionId}"/>
                    <div class="question">
                        <h3 th:text="${getQuestionRes.questionContext}"></h3>
                    </div>
                    <div class="check__group">

                        <div class="check__con">
                            <div class="check">
                                <input type="radio" th:field="*{writeAnswerDiagnoseReqList[0].writeAnswerDetailReqList[__${detailStat.index}__].answer}" th:value=5  id="worst" required/>
                                <label class="check__radio" for="worst"></label>
                            </div>
                            <div class="check">
                                <input type="radio" th:field="*{writeAnswerDiagnoseReqList[0].writeAnswerDetailReqList[__${detailStat.index}__].answer}" th:value=4 id="high"/>
                                <label class="check__radio" for="high"></label>
                            </div>
                            <div class="check">
                                <input type="radio" th:field="*{writeAnswerDiagnoseReqList[0].writeAnswerDetailReqList[__${detailStat.index}__].answer}" th:value=3  id="soso"/>
                                <label class="check__radio" for="soso"></label>
                            </div>
                            <div class="check">
                                <input type="radio"  th:field="*{writeAnswerDiagnoseReqList[0].writeAnswerDetailReqList[__${detailStat.index}__].answer}" th:value=2 id="low"/>
                                <label class="check__radio" for="low"></label>
                            </div>
                            <div class="check">
                                <input type="radio"  th:field="*{writeAnswerDiagnoseReqList[0].writeAnswerDetailReqList[__${detailStat.index}__].answer}" th:value=1  id="none"/>
                                <label class="check__radio" for="none"></label>
                            </div>
                        </div>


                        <div class="check__text">
                            <p>최상</p>
                            <p>높음</p>
                            <p>보통</p>
                            <p>조금</p>
                            <p>없음</p>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card__button">
                <button class="btn" type="submit">검사완료</button>
            </div>
        </form>
    </div>
</section>

<!-- =========== JAVASCRIPT ========== -->
<script src="/javascript/player/test_all.js"></script>
</body>
</html>