<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Up</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/player/test_type_select.css">
</head>

<body>

<!-- =========== NAVBAR ========== -->
<nav id="nav">
</nav>

<!-- =========== TYPE ========== -->
<section id="types">
    <div class="container type__container" >
        <a th:each="diagnose : ${diagnoseInfoList}" th:href ="@{|/player/test/type/${diagnose.id}|}">
            <div class="type__box">
                <div class="type__icon">
                    <img th:src="${diagnose.iconUrl}">
                </div>
                <div class="type__name">
                    <h3 th:text="${diagnose.title}">경기력</h3>
                    <h3>스트레스</h3>
                </div>

                    <div class="type__go">
                            <p>시작하기</p>
                            <i class="uil uil-angle-right-b"></i>
                    </div>
            </div>
        </a>
    </div>
</section>

<!-- =========== JAVASCRIPT ========== -->
<script>
    async function fetchAsText(url){
        return await (await fetch(url)).text();
    }

    async function importNav(targetDiv) {
        document.querySelector('#' + targetDiv).innerHTML = await fetchAsText("../../nav");
    }

    importNav('nav');
</script>
</body>

</html>