<link rel="stylesheet" href="/css/common/navigation.css">
<div class="navigation__container container flex-between">
    <a onclick="document.getElementById('menu').style.display='block'"><i class="uil uil-bars font20"></i></a>
    <a th:if="${userRole == 'PLAYER'}" th:href="@{/player/profile}" class="logo-big eng">MIND UP</a>
    <a th:if="${userRole == 'DIRECTOR'}" th:href="@{/director/profile}" class="logo-big eng">MIND UP</a>
    <a th:if="${userRole == 'ADMIN'}" th:href="@{/admin/user}" class="logo-big eng">MIND UP</a>
    <a th:href="@{/logout}"><i class="uil uil-signout font20"></i></a>
</div>

<menu id="menu" style="z-index: 9; display: none;">
    <div class="menu__container container">
        <div class="menu-header flex-between">
            <a onclick="document.getElementById('menu').style.display='none'">
                <i class="uil uil-multiply font20"></i>
            </a>
            <p class="logo-big eng">BEST MIND</p>
        </div>

        <!-- 공통-임시 -->
        <p class="font18">공통 메뉴</p>
        <div class="menu-content flex-column">
            <a th:unless="${userRole == 'ADMIN'}" th:href="@{/noti/list}" class="font28">공지사항</a>
            <a th:href="@{/pwChange}" class="font28">비밀번호 변경</a>
        </div>

        <!-- 지도자 -->
        <div th:if="${userRole == 'ADMIN'}">
            <p class="font18">관리자 메뉴</p>
            <div class="menu-content flex-column">
                <a th:href="@{/admin/team}" class="font28">팀 코드 관리</a>
                <a th:href="@{/admin/user}" class="font28">사용자 관리</a>
            </div>
        </div>

        <!-- 선수 -->
        <div th:if="${userRole == 'PLAYER'}">
            <p class="font18">선수 메뉴</p>
            <div class="menu-content flex-column">
                <a th:href="@{/player/profile}"class="font28">프로필</a>
                <a th:href="@{/player/test/result}" class="font28">검사 결과</a>
            </div>
        </div>


        <!-- 지도자 -->
        <div th:if="${userRole == 'DIRECTOR'}">
            <p class="font18">지도자 메뉴</p>
            <div class="menu-content flex-column">
                <a th:href="@{/director/profile}" class="font28">프로필</a>
<!--                <a th:href="@{/noti/list}" class="font28">공지사항</a>-->
            </div>
        </div>

        <!-- 상담가 -->
        <div th:if="${userRole == 'CONSULTANT'}">
            <p class="font18">상담가 메뉴</p>
            <div class="menu-content flex-column">
                <a href="../../templates/consultant/profile.html" class="font28">프로필</a>
                <!-- <a href="/templates/common/announce.html" class="font28">공지사항</a>
                <a href="/templates/common/password_change.html" class="font28">비밀번호 변경</a> -->
            </div>
        </div>
    </div>
</menu>