<link rel="stylesheet" href="/css/common/navigation.css">
<div class="navigation__container container flex-between">
    <a onclick="document.getElementById('menu').style.display='block'"><i class="uil uil-bars font20"></i></a>

    <a th:if="${userRole == 'CONSULTANT_PENDING'}" th:href="@{/pending}" class="logo-big eng">BEST MIND</a>
    <a th:if="${userRole == 'PLAYER_PENDING'}" th:href="@{/pending}" class="logo-big eng">BEST MIND</a>
    <a th:if="${userRole == 'DIRECTOR_PENDING'}" th:href="@{/pending}" class="logo-big eng">BEST MIND</a>

    <a th:if="${userRole == 'PLAYER'}" th:href="@{/player/profile}" class="logo-big eng">BEST MIND</a>
    <a th:if="${userRole == 'DIRECTOR'}" th:href="@{/director/profile}" class="logo-big eng">BEST MIND</a>
    <a th:if="${userRole == 'ADMIN'}" th:href="@{/admin/user}" class="logo-big eng">BEST MIND</a>
    <a th:if="${userRole == 'CONSULTANT'}" th:href="@{/consultant/profile}" class="logo-big eng">BEST MIND</a>

    <a th:href="@{/logout}"><i class="uil uil-signout font20"></i></a>
</div>

<menu id="menu" style="z-index: 9; display: none;">
    <li class="menu__container container">
        <div class="menu-header flex-between">
            <a onclick="document.getElementById('menu').style.display='none'">
                <i class="uil uil-multiply font20"></i>
            </a>
            <p class="logo-big eng">BEST MIND</p>
        </div>
        <!-- 공통 메뉴 -->
        <p class="font16">공통 메뉴</p>
        <div class="menu-content flex-column">
            <a th:href="@{/pwChange}" class="font24">비밀번호 변경</a>
        </div>
        <!-- 지도자 -->
        <div th:if="${userRole == 'ADMIN'}">
            <p class="font16">관리자 메뉴</p>
            <div class="menu-content flex-column">
                <a th:href="@{/admin/team}" class="font24">팀 코드 관리</a>
                <a th:href="@{/admin/user}" class="font24">사용자 관리</a>
            </div>
        </div>
        <!-- 선수 -->
        <div th:if="${userRole == 'PLAYER'}">
            <p class="font16">선수 메뉴</p>
            <div class="menu-content flex-column">
                <a th:if="${ableRequestConsulting}" th:href="@{/noti/list}" class="font24">공지사항</a>
                <a th:href="@{/player/profile}" class="font24">프로필</a>
                <a th:href="@{/player/test/result}" class="font24">검사 결과</a>
                <a th:if="${ableRequestConsulting}" th:href="@{/player/consultant}" class="font24">컨설턴트 매칭</a>
                <a th:href="@{/player/feed}" class="font24">내 피드</a>
            </div>
        </div>
        <!-- 지도자 -->
        <div th:if="${userRole == 'DIRECTOR'}">
            <p class="font16">지도자 메뉴</p>
            <div class="menu-content flex-column">
                <a th:href="@{/noti/list}" class="font24">공지사항</a>
                <a th:href="@{/director/profile}" class="font24">프로필</a>
            </div>
        </div>
        <!-- 상담가 -->
        <div th:if="${userRole == 'CONSULTANT'}">
            <p class="font16">상담가 메뉴</p>
            <div class="menu-content flex-column">
                <a th:href="@{/noti/list}" class="font24">공지사항</a>
                <a href="/consultant/profile" class="font24">프로필</a>
                <a href="/consultant/team/test/result" class="font24">소속팀 통계</a>
                <a href="/consultant/individual/test/result" class="font24">개인선수 통계</a>
                <a href = "/consultant/team/player" class="font24"> 소속 팀 선수</a>
                <a href = "/consultant/individual/player" class="font24"> 개인 관리 선수</a>
                <a href = "/consultant/individual/player/request" class="font24">선수 요청</a>
            </div>
        </div>
    </li>
</menu>