<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Care</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="../css/common/style.css">
    <link rel="stylesheet" href="../css/user/profile.css">
</head>
<body>

<!-- =========== NAVBAR ========== -->
<nav id="nav">
</nav>

<!-- =========== MAIN ========== -->
<section id="profile">
    <div class="container profile__container">
        <div class="profile__card" >
            <form th:method="post" th:action="@{/profile/updateProfile}" th:object="${playerSignUpReq}">
                <div class="card__head">
                    <h2>프로필</h2>
                    <div class="dday">
                        <p>다음 경기날짜</p>
                        <div id="dateDiv">
                            <input type="date" id="start" th:name="nextMatch"
                                   th:value="${player.nextMatch}">
                        </div>
                    </div>
                </div>
            <div class="card__content">
                    <div class="card__info">
                        <div class="info__text">
                            <p>이름</p>
                            <h3 th:text="${player.userName}">손흥민</h3>
                            <p>소속팀</p>
                            <input th:name="team" th:value="${player.team}" />
                            <p>포지션</p>
                            <input th:name="position" th:value="${player.position}" />
                        </div>
                        <div class="info__img">
                            <div class="img__con">
                                <img src="../images/son.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="card__button">
                        <button class="btn btn-varient">설정하기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- =========== JAVASCRIPT ========== -->
<script src="../javascript/common/base.js"></script>
</body>
</html>