<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Mind</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
</head>

<body>

<!-- =========== NAVBAR ========== -->
<nav id="navigation">
</nav>

<!-- =========== TEAM_CODE ========== -->
<section id="admin">
    <div class="container admin__container">

        <div class="button__container">
            <h2>팀 코드 추가</h2>
        </div>

        <form th:action="@{/admin/team}" th:method="post" th:object="${teamAddReq}">
            <div class="code-form">
                <input th:field="*{teamCode}" type="text" class="btn btn-input" placeholder="팀 코드" minlength="6">
                <input th:field="*{name}" type="text" class="btn btn-input" placeholder="팀 이름">
                <div class="flex-right">
                    <button class="btn-basic" type="submit">추가하기</button>
                </div>
            </div>
        </form>


    </div>
</section>

<script src="/javascript/common/base.js"></script>
</body>

</html>