<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mental Care</title>

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

  <!-- ICON SCOUT -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!-- STYLE SHEET -->
  <link rel="stylesheet" href="/css/common/style.css">
  <link rel="stylesheet" href="/css/team/noti_detail.css">
</head>

<body>

<!-- =========== NAVBAR ========== -->
<nav id="nav">
</nav>

<!-- =========== Detail ========== -->
<section id="detail">
  <div class="container detail__con">

    <div class="detail-header">
      <h3>공지사항</h3>
<!--      <p>서울 FC</p>-->
    </div>

    <div class="article-info">
      <div class="writer-img">
        <img th:src="${teamNotification.directorImgUrl}">
      </div>
      <div class="info-right">
        <h5 th:text="${teamNotification.directorName}">작성자 이름</h5>
        <div class="info-etc">
          <p th:text="${teamNotification.createdAt}">Nov 15,2022</p>
          <p>·</p>
          <span th:text="${teamNotification.viewCnt}">15</span><span> read</span>
        </div>
      </div>
    </div>

    <div class="article-title">
      <h2 th:text="${teamNotification.title}">공지사항 제목</h2>
    </div>
    <div class="article-content">
      <p th:text="${teamNotification.content}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quis, eos, quasi maxime saepe quisquam
        necessitatibus tenetur officia dolore molestias placeat sequi eius esse doloremque quibusdam
        aspernatur. Nobis, quia omnis.</p>
    </div>
    
  </div>
</section>


<!-- =========== JAVASCRIPT ========== -->
<script src="/javascript/common/base.js"></script>
</body>

</html>