<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mental Care</title>

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

  <!-- ICON SCOUT -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!-- STYLE SHEET -->
  <link rel="stylesheet" href="/css/common/style.css">
  <link rel="stylesheet" href="/css/team/noti_list.css">
</head>

<body>

<!-- =========== NAVBAR ========== -->
<nav id="nav">
</nav>

<!-- =========== NOTIFICATION ========== -->
<section id="notification">
  <div class="container noti__con">

    <!-- header -->
    <div class="title">
      <h2>공지사항</h2>
    </div>
    <div class="under_title">
      <h4 th:text="${userTeam}">팀 이름</h4>
      <a th:if="${userRole.equals('DIRECTOR')}" th:href="@{/director/noti}">
        <div class="new_button">
          <i class="uil uil-pen"></i>
          <p>작성하기</p>
        </div>
      </a>

    </div>
    <div class="line"></div>

    <!-- list -->
    <article class="noti-list" th:each="teamNoti : ${teamNotificationList}" >
      <a th:href="@{|/noti/${teamNoti.id}|}">
        <div class="list-header">
          <div class="writer__img">
            <img th:src="${teamNoti.directorImgUrl}">
          </div>
          <p th:text="${teamNoti.directorName}">작성자 이름</p>
        </div>
        <div class="list-body">
          <h3 th:text="${teamNoti.title}">공지사항 제목</h3>
  <!--        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci tenetur in assumenda-->
  <!--          recusandae asperiores saepe. Ad obcaecati voluptate libero repellat, rem neque pariatur quod.-->
  <!--          Voluptate numquam ipsa esse quibusdam tenetur.</h4>-->
        </div>
        <div class="list-footer">
          <div class="foot-content">
            <p th:text="${teamNoti.createdAt}">Nov 15,2022</p>
          </div>
          <p>·</p>
          <div class="foot-content">
<!--            조회수 :-->
            <p th:if="${teamNoti.viewCnt == null}" th:text="'0 read'"></p>
            <p th:unless="${teamNoti.viewCnt == null}" th:text="${teamNoti.viewCnt} + ' read'"></p>
          </div>
        </div>
        <div class="line"></div>
      </a>
    </article>
  </div>
</section>

<!-- =========== JAVASCRIPT ========== -->
<script src="/javascript/common/base.js"></script>
</body>

</html>