<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Mind</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet"
    />

    <!-- ICON SCOUT -->
    <link
        rel="stylesheet"
        href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="/css/common/style.css" />
    <link rel="stylesheet" href="/css/common/profile.css" />
    <link rel="stylesheet" href="/css/consultant/player_item.css" />

    <!-- CALENDAR -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>

    <script th:inline="javascript">
        const isToday = (dateString) => {
            const today = new Date();

            const year = today.getFullYear().toString();
            const month = (today.getMonth() + 1).toString().padStart(2, "0");
            const day = today.getDate().toString().padStart(2, "0");

            const todayString = `${year}-${month}-${day}`;

            return dateString === todayString;
        };

        /*<![CDATA[*/

        const teamDateData = [[${teamPlayerDiagnoseResultDateResList}]];

        for(var i=0; i<teamDateData.length; i++){
            console.log(teamDateData[i].date);
        }

        /*]]>*/

        const formatDate = (dateString) => {
            const parts = dateString.split("-");
            const year = parts[0].substring(2);
            const month = parts[1];
            const day = parts[2];

            return `${year}년 ${month}월 ${day}일`;
        };

        function requestTest(playerId){
            const request = new XMLHttpRequest();
            request.open("POST", "/consultant/request_test/"+playerId, true);

            request.onreadystatechange = function (){
                if(request.readyState === 4){
                    if(request.status === 200 || request.status === 201){
                        console.log((request.status));
                    }else{
                        console.log("failed : "+ request.status);
                    }
                }
            }
            request.send(null);
        }


        const dateTestedListItem = (data) => {
            let result = "";
            const str = (name, playerId ,avg,answerId, imgUrl) =>{

                const item =
                    "<div class=\"player-item flex-between\" >" +
                    "<a class=\"flex-left\" href ='/consultant/test/result/"+answerId+"'>" +
                    "<div class=\"player-img flex-center\">" +
                    "<img src= '"+imgUrl+ "' alt=\"선수 프로필\" />" +
                    "<div class=\"player-status\"></div>" +
                    "</div>" +
                    "<div class=\"player-info\">" +
                    "<p class=\"font18\" >" + name+"</p>" +
                    "<p class=\"font12\" > 평균 : "+avg+"</p>" +
                    "</div>" +
                    "</a>" +
                    "<div class=\"flex-left\">" +
                    "<a  href = '/player/feed?id="+playerId+"'>" +
                        "<div class=\"item-icon flex-center\">" +
                            "<i class=\"uil uil-comment-message\" style=\"padding-bottom: 3px\"></i>" +
                        "</div>" +
                    "</a>"+
                        "<div class=\"item-icon flex-center\" onclick='requestTest("+playerId+")'>" +
                            "<i class=\"uil uil-message\" style=\"padding: 0 0 3px 3px\"></i>" +
                        "</div>" +
                    "</div>" +
                    "</div>";

                return item
            }
            for(let i=0; i<data.length; i++){
                result += str(data[i].playerName,data[i].playerId ,data[i].avg, data[i].answerId, data[i].playerImgUrl);
            }
            return result;
        }




        document.addEventListener("DOMContentLoaded", function () {
            const dateEl = document.getElementById("date");
            const dateCnt = document.getElementById("cnt");
            const newData = document.getElementById("playerItem");

            const teamCalendarEl = document.getElementById("calendar-team");
            const teamCalendar = new FullCalendar.Calendar(teamCalendarEl, {
                initialView: "dayGridMonth",
                locale: "ko",
                headerToolbar: {
                    start: "title",
                    center: "",
                    end: "prev,next",
                },
                dateClick: function (info) {

                    let teamTestedPlayer;
                    let dateString = info.dateStr;

                    for(let i=0; i<teamDateData.length; i++){
                        if(dateString === teamDateData[i].date){
                            teamTestedPlayer= teamDateData[i].diagnoseResultReadResList;
                            dateCnt.innerText = teamDateData[i].count;
                            newData.innerHTML = dateTestedListItem(teamTestedPlayer);
                            i = teamDateData.length;
                        }else{
                            dateCnt.innerText = '0';
                            newData.innerHTML = "";
                        }
                    }
                    dateEl.innerText = isToday(dateString)
                        ? "오늘"
                        : formatDate(dateString);

                },
            });
            teamCalendar.render();

            const personalCalendarEl = document.getElementById("calendar-personal");
            const personalCalendar = new FullCalendar.Calendar(personalCalendarEl, {
                initialView: "dayGridMonth",
                locale: "ko",
                headerToolbar: {
                    start: "title",
                    center: "",
                    end: "prev,next",
                },
                dateClick: function (info) {
                    let dateString = info.dateStr;
                    dateEl.innerText = isToday(dateString)
                        ? "오늘"
                        : formatDate(dateString);
                },
            });
            personalCalendar.render();
        });
    </script>
</head>

<body>
<!-- =========== PROFILE-CONSULTANT ========== -->
<section id="profile-consultant">
    <nav id="navigation"></nav>

    <div class="container profile__container">
        <!-- 인사말 -->
        <p class="greeting font24" id="greeting" th:text="${profile.getName()}">김정민</p>
        <!-- 프로필 -->
        <div class="profile">
            <div class="profile__header flex-between">
                <p class="font20">프로필</p>
                <a class="font14" th:href="@{/consultant/profile/setting}">변경하기</a>
            </div>
            <div class="profile__content flex-between">
                <div class="profile__info flex-column">
                    <div class="profile__info-item flex-column">
                        <p class="font12">소속팀</p>
                        <p class="font16" th:text="${profile.getTeamName()}">토트넘 훗스퍼 FC</p>
                    </div>
                </div>
                <img class="profile-img" th:src="${profile.getImgUrl()}" alt="상담가 이미지"/>
            </div>
        </div>
        <!-- 캘린더 -->
        <div class="calendar__container">
            <p class="font20">캘린더</p>
            <div class="label flex-left">
                <p class="font16 active">팀 선수</p>
                <p class="font16">개인 선수</p>
            </div>
            <!--팀 선수 캘린더-->
            <div id="calendar-team" class="calendar active"></div>
            <!--개인 선수 캘린더-->
            <div id="calendar-personal" class="calendar"></div>
        </div>
        <!-- 날짜별 선수 리스트 -->
        <div class="player_list">
            <div class="date-label flex-left-bottom">
                <p id="date" class="font20">오늘</p>
                <p id="cnt" class="font12 player_count"></p>
            </div>
            <!-- 선수 아이템 -->
            <div id="playerItem">

            </div>
        </div>
        <form method="post" th:action="@{/consultant/request_test}">
            <button class="btn-basic send-all" type="submit">모두에게 설문 요청하기</button>
        </form>
    </div>
</section>

<script src="/javascript/common/base.js"></script>
<script src="/javascript/common/greeting.js"></script>
<script src="/javascript/consultant/profile.js"></script>
</body>
</html>
