<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Best Mind</title>

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap"
    rel="stylesheet"
  />

  <!-- ICON SCOUT -->
  <link
    rel="stylesheet"
    href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
  />

  <!-- STYLE SHEET -->
  <link rel="stylesheet" href="/css/common/style.css" />
  <link rel="stylesheet" href="/css/consultant/player_list.css" />
  <link rel="stylesheet" href="/css/consultant/player_item.css" />


  <!--    선수 데이터 불러오기-->
  <script th:inline="javascript">

    const loadHtml = (data) => {
      let result = "";
      const context = (name, avg, imgUrl, playerId) =>{
        const playerItem =
                "   <div class=\"player-item flex-between\" >\n" +
                "      <a class=\"flex-left\" href='/consultant/test/result/player/"+ playerId+"'>\n" +
                "        <div class=\"player-img flex-center\">\n" +
                "          <img src='"+imgUrl+"' alt=\"선수 프로필\" />\n" +
                "          <!-- 평균에 따라서 녹색, 노란색, 빨간색 -->\n" +
                "          <div class=\"player-status\"></div>\n" +
                "        </div>\n" +
                "        <div class=\"player-info\">\n" +
                "          <p class=\"font18\">"+name+"</p>\n" +
                "          <p class=\"font12\" >평균: "+avg+"</p>\n" +
                "        </div>\n" +
                "      </a>\n" +
                "      <div class=\"flex-left\">\n" +
                "      <a  href = '/player/feed?id="+playerId+"'>" +
                "        <div class=\"item-icon flex-center\">\n" +
                "          <i class=\"uil uil-comment-message\" style=\"padding-bottom: 3px\"></i>\n" +
                "        </div>\n" +
                "      </a>" +
                "        <div class=\"item-icon flex-center\" onclick='requestTest("+playerId+")'>\n" +
                "          <i class=\"uil uil-message\" style=\"padding: 0 0 3px 3px\"></i>\n" +
                "        </div>\n" +
                "      </div>\n" +
                "    </div>"
        return playerItem;
      }
      for(var i=0; i<data.length; i++){
        result += context(data[i].playerName, data[i].avg, data[i].playerImgUrl, data[i].playerId);
      }
      return result;
    }

    function requestTest(playerId){
      const request = new XMLHttpRequest();
      request.open("POST", "/consultant/request_test/"+playerId, true);

      request.onreadystatechange = function (){
        if(request.readyState == 4){
          if(request.status==200 || request.status ==201){
            console.log((request.status));
          }else{
            console.log("failed : "+ request.status);
          }
        }
      }
      request.send(null);
    }


    /*<![CDATA[*/

    const totalPlayerData = [[${totalDiagnoseResultReadResList}]]; // 전체평균 높은순
    const typePlayerDataList = [[${typeDiagnoseResultReadResList}]];
      // 유형별 높은순 - 0:경기력 1:불안감 2:훈련 3:훈련, 4:기능자신감, 5:부상, 6:관계, 7:진로, 8학업, 9:생활


    /*]]>*/

    document.addEventListener("DOMContentLoaded", function (){
      document.getElementById("playerList").innerHTML = loadHtml(totalPlayerData);
    });



    function loadTypeRank(data){
      const filter = document.getElementById('sort-filter');
      const highData = typePlayerDataList[data].diagnoseResultReadResList;
      let reveseData = typePlayerDataList[data].diagnoseResultReadResList.slice().reverse();

      if(filter.value == 'sort-high'){
        document.getElementById("playerList").innerHTML = loadHtml(highData);
      }else{
        document.getElementById("playerList").innerHTML = loadHtml(reveseData);
      }

    }


    function loadTotal(){
      const filter = document.getElementById('sort-filter');
      let reverseData = totalPlayerData.slice().reverse();

      if(filter.value == 'sort-high'){
        document.getElementById("playerList").innerHTML = loadHtml(totalPlayerData);
      }else{
        document.getElementById("playerList").innerHTML = loadHtml(totalPlayerData.reverse());
      }
    }

    document.addEventListener('DOMContentLoaded', function() {

      document.getElementById('sort-filter').addEventListener('change', function() {
        let currentActive = document.querySelector('.active');
        if(currentActive.id == "total"){
          loadTotal();
        }else{
          let typeId = document.querySelector('.type-filter.font14.flex-center.active').id;
          loadTypeRank(typeId);
        }


      });
    });









  </script>



</head>

<body>
<section id="team-player-list">
  <nav id="navigation"></nav>
  <div class="container player-list__container">
    <!-- 헤더 -->
    <div class="flex-between-top">
      <!-- 탭 -->
      <div class="tab__container flex-left">
        <a id="total" class="font16 header-tab active" onclick="loadTotal()">평균 순위</a>
        <a id="type" class="font16 header-tab" onclick="loadTypeRank(0)">유형별 순위</a>
      </div>

      <!-- 정렬 필터 -->
      <div class="filter__container">
        <select name="sort-filter" id="sort-filter">
          <option value="sort-high">높은순</option>
          <option value="sort-low">낮은순</option>
        </select>
        <i class="uil uil-angle-down"></i>
      </div>
    </div>
    <!-- 유형별 필터 -->
    <div class="type-filter__container">
      <a id="0" class="type-filter font14 flex-center active" onclick="loadTypeRank(0)">경기력</a>
      <a id="1"  class="type-filter font14 flex-center" onclick="loadTypeRank(1)">불안감</a>
      <a id="2"  class="type-filter font14 flex-center" onclick="loadTypeRank(2)">훈련</a>
      <a id="3"  class="type-filter font14 flex-center" onclick="loadTypeRank(3)">기능자신감</a>
      <a id="4"  class="type-filter font14 flex-center" onclick="loadTypeRank(4)">부상</a>
      <a id="5"  class="type-filter font14 flex-center" onclick="loadTypeRank(5)">관계</a>
      <a id="6"  class="type-filter font14 flex-center" onclick="loadTypeRank(6)">진로</a>
      <a id="7"  class="type-filter font14 flex-center" onclick="loadTypeRank(7)">학업</a>
      <a id="8"  class="type-filter font14 flex-center" onclick="loadTypeRank(8)">생활</a>
    </div>


    <!-- 선수 아이템 -->
    <div id="playerList">

    </div>

  </div>
</section>

<script src="/javascript/common/base.js"></script>
<script src="/javascript/consultant/player_list.js"></script>
</body>

</html>
